@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Kanit:ital,wght@0,200;1,300;1,400&display=swap');

*{
    margin: 0; 
    margin-left: 4px;
    margin-right: 4px;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: rgb(29, 1, 44, 0.9);
}

h1{
    color: rgb(0, 214, 214, 1);
    font-family: 'Bungee', cursive;
    font-weight: bolder;
    font-size: 6rem;
    font-style: italic;
    text-align: center;
}

.elHeaderBox{
    background-color: rgb(63, 17, 105);
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 13rem;
    position: sticky;
    top: 0px;
    z-index: 10;
    height: 150px;
    box-sizing: border-box;
    width: 100%;
}

.botonNav{
    background-color: rgb(113, 25, 196);
    color: rgb(0, 214, 214, 1);
    padding: 16px;
    font-size: 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    position: fixed;
    top: 50px;
    left: 30px;
}

.desplegarNav{
    position: fixed;
    display: inline-block;
    top: 105px;
    left: 30px;
}

.contenidoNav{
    display: none;
    position: relative;
    background-color:rgb(94, 61, 124) ;
    min-width: 160px;
    border: 0.5px solid rgb(0, 203, 203, 1);
    padding: 12px 16px;
    z-index: 1;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 4rem;
}

nav div{
    list-style-type: none;
}

.contenidoNav a{
    color: rgb(0, 214, 214, 1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 16px;
}

.contenidoNav a:hover {
    background-color: rgba(65, 2, 99, 0.9);
}

.desplegarNav:hover .contenidoNav{
    display: block;
}

.desplegarNav:hover .botonNav{
    background-color: rgb(94, 61, 124);
}

.elLogo{
    box-sizing: border-box;
    text-align: right;
    width: 125px;
    height: 125px;
    position: absolute;
    top: 20px;
    left: 1700px;
}


h2{
    color: rgb(0, 203, 203, 1);
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 4rem;
}

.subtitulos3{
    color: rgb(0, 203, 203, 1);
    text-decoration: underline;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    margin-top: 100px;
}

.subtitulos4{
    color: rgb(249, 249, 250);
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    margin-top: 10px;
}

section div a{
    text-decoration: none;
}

.parrafos{
    color: rgb(249, 249, 250);
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 2rem;    
}

.linksExternos{
    color: rgb(187, 101, 230, 0.9);
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    
}

.boxImg{
    font-size: 1.5rem;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    border-radius: 10px;
    border: 0.5px solid black;

}

.absoluteIbai{
    position: absolute;
    left: 600px;
    top: 290px;
}

.absoluteLuquita{
    position: absolute;
    left:1200px ;
    top:290px ;
}

.absoluteAuriculares{
    position: absolute;
    left:620px ;
    top:945px ;
}
.absoluteMonitor{
    position: absolute;
    left: 1240px;
    top: 945px;
}

.absoluteZomboid{
    position: absolute;
    left: 620px;
    top: 1380px;
}
.absoluteResident{
    position: absolute;
    left: 1200px;
    top: 1380px;
}
.absoluteCyberpunk{
    position: absolute;
    left: 620px;
    top: 1830px ;
}
.absolutePoe{
    position: absolute;
    left: 1200px;
    top: 1830px;
}
.elFooter{
    background-color:  rgb(63, 17, 105);
    text-decoration: none;
    font-size: 5rem;
    position: relative;
    margin-top: 60px;
    box-sizing: border-box;
  
}

footer ul li{
    list-style-type: none;
}
.imagenesVectorizadas{
    width: 25px;
    height: 25px;
}
.absoluteFooter1{
    position: absolute;
    bottom: 0px;
    left: 600px;
    
    
}
.absoluteReservados{
    position: absolute;
    bottom: 0px;
    left: 1000px;
 
}
.absoluteCondiciones{
    position: absolute;
    bottom: 0px;
    left: 1500px;

}